header {
    font-family: arial,sans-serif;
    font-size: 13px;
    text-decoration: none;
    padding: 12px 0;
}

footer {
    font-family: arial,sans-serif;
    font-size: 13px;
    text-decoration: none;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding-right: 24px;
    padding-left: 13px;
    margin: 0px 16px 0px -27px;
    background: #f2f2f2;
    line-height: 40px;
    border-top: 1px solid #e4e4e4
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline;
}
.left-nav-bar {
    text-decoration: none;
    color: #000000;
    padding: 9px 10px 6px 10px;
    line-height: 28px;

}
.right-nav-bar {
    float: right;
    text-decoration: none;
    color: #000000;
    padding: 1px 10px 0px 10px;
    line-height: 28px
}
#sign-in {
    border: 1px solid #4285f4;
    color: white;
    font-weight: bold;
    background: #4683ea;
    padding: 0 12px;
}
 .left-footer-nav-bar {
    text-decoration: none;
    color: #5f6368;
    padding: 0px 0px 0px 27px;
 }
.right-footer-nav-bar {
    float: right;
    text-decoration: none;
    color: #5f6368;
    padding: 0px 0px 0px 27px;
}

#google-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 89px 0px 0px;
}

.search {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 16px 0px 0px;
}

#buttons {
    margin: 18px 0px 0px;
}

#search-bar {
    display: flex;
    min-width: 482px;
    border-radius: 24px;
    height: 44px;
    margin: 0 auto;
    border: 1px solid #dfe1e5;
}

#search-button {
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-radius: 4px;
    color: #5f6368;
    font-family: arial, sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    height: 36px;
    min-width: 54px;
    text-align: center;
}

#lucky-button {
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-radius: 4px;
    color: #5f6368;
    font-family: arial, sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    height: 36px;
    min-width: 54px;
    text-align: center;
}

footer {
    font-family: arial,sans-serif;
    font-size: 13px;
    text-decoration: none;
}